{{!< default}}

<main id="main" class="site-main" role="main">
	<h1 class="page-title">Nothing Found.</h1>
	<div class="alert alert-info">
		<p>You know what that means? It means the page you're looking for isn't here.</p>
		<p>If all else fails, you can always head back <a href="{{site.url}}">Home</a> and start over.</p>
	</div>
	
</main>