{{#if navigation}}
	<ul id="menu-main-menu" class="nav navmenu-nav">
		{{#foreach navigation}}
			<li class="{{#if current}}active{{/if}}"><a href="{{url}}">{{title}}</a></li>
		{{/foreach}}
	</ul>
{{/if}}